.box.perspective-square {
    border-radius: 20%;
    transform: rotateX(45deg) rotateZ(45deg);
}

.box.z-squares {
    transform: rotateX(45deg) rotateY(45deg);
}

.box.rotate-square {
    transform: rotate(45deg);
}

.odd .hole:nth-child(odd) {
    background-color: #cc33cc;
}

.four .hole:nth-child(4) {
    background-color: #cc33cc;
}

.firstrow .hole:nth-child(-n+5) {
    background-color: #cc33cc;
}

.lastchild .hole:nth-last-child(1) {
    background-color: #cc33cc;
}

:root {
    /* board: 180 + 22,5 = 202,5 */
    /* --board: calc(var(--tabuleiro) + var(--quadrado)); */
    --board: calc(var(--square) * var(--grid) + var(--quadrado));
 
    /* fixa */
    --tabuleiro: 180px;
    --grid: 8;
    /* 180 / 8 = 22,5 */
    --quadrado: calc(var(--tabuleiro) / 8); 
    --bg-white: #ffffff;
    --bg-dark: #222;

}
.board {
    width: var(--board);
    height: var(--board);
    background-color: rgb(110, 75, 29);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateX(41deg) rotateZ(45deg); 
}

.face {
    width: var(--tabuleiro);
    height: var(--tabuleiro);
    margin: 10px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: var(--quadrado);
    height: var(--quadrado)

}
.square-black {   
    background-color: var(--bg-dark);
    animation-name: blackSquareAnimation;
    animation-duration: 2s;
    animation-iteration-count: 2;

}

.square-white {
    background-color: var(--bg-white)
}


.square-black:nth-child(1) {
    animation-delay: .4s;
}

.square-black:nth-child(2) {
    animation-delay: .6s;
}

.square-black:nth-child(3) {
    animation-delay: .8s;
}

.square-black:nth-child(4) {
    animation-delay: 1s;
}

.square-black:nth-child(5) {
    animation-delay: 1.2s;
}

.square-black:nth-child(6) {
    animation-delay: 1.4s;
}

.square-black:nth-child(7) {
    animation-delay: 1.6s;
}

.square-black:nth-child(8) {
    animation-delay: 1.8s;
}

@keyframes blackSquareAnimation {
    0% {
        transform: translate(0,0);
        box-shadow: 0px 11px 7px 1px #ffffff00;
    }
    50% {
            transform: translate(-80px, -120px);
            box-shadow: 0px 11px 7px 1px #bd6464;
    }
    100% {
        transform: translate(0,0);
        box-shadow: 0px 11px 7px 1px #ffffff00;
    }
}