.container {
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    height: 900px;

/* grelha */
    flex-wrap: wrap;

}

.thumbnail {
    flex-grow: 1;
    min-width: 32px;
    height: 40px;
    background-color: pink;
    margin: 8px;

} 

.thumbnail_1 {
    order: 4;
}

.thumbnail_3 {
    order: 1;
}