@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', sans-serif;
    
}

main {
    display: flex;
}

.card {
    min-width: 300px;
    max-width: 330px;
    border-radius: 16px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 0px 5px 10px 1px #00000029;
    margin: 8px;

}

.card_img {
    display: flex;
    justify-content: center;
    background-color: #BCD1FF;
    height: 168px;
    border-radius: 16px 16px 0px 0px;
    align-items: center;
    border: 0.1px solid bla
}

img {
    height: 70%;

}

.first_info {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6px;
}

h1.card_title {
    font-size: 23px;
    padding: 0px 20px;
    margin: 5px 0;
    font-family: 'DM Serif Display', serif;
}

.card_description {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
    padding: 0px 20px;
    margin: 12px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 34px 0px 20px;
    font-size: 12px;
    align-items: center;
    font-weight: 600;
    color: cadetblue;
}

img.thumbnail {
    height: 35px;
    border-radius: 50%;
    margin-right: 6px;
}

a.author {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: cadetblue;

}

.card_content {
    padding: 0 0 16px 0;
}