@media only screen and (max-width: 600px) { 



    .card_description {
        display: none;
     }

     .thumbnail {
         display: none;
     }

     .footer {
         display: none;
     }

     main {
         flex-direction: column;
     }

     .card {
         display: flex;
         border: none;
         min-width: 470px;
         max-width: 330px;
         
     }

     .card_img {
         border-radius: 16px 0 0 16px;
         width: 140px;  
         height: 155px;   
     }


     .first_info {
         margin-bottom: 35px;
         }

     .card_title {
         font-family: 'Open Sans', sans-serif;
         font-weight: 500;
         font-size: 20px;
     }

     img {
         height: 50%;

     }
    
}

