@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
.marginnone {
  margin: 0 !important;
}

.marginhorizontalnone {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marginverticalnone {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margintopnone {
  margin-top: 0 !important;
}

.marginrightnone {
  margin-right: 0 !important;
}

.marginbottomnone {
  margin-bottom: 0 !important;
}

.marginleftnone {
  margin-left: 0 !important;
}

.paddingnone {
  padding: 0 !important;
}

.paddinghorizontalnone {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingverticalnone {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.paddingtopnone {
  padding-top: 0 !important;
}

.paddingrightnone {
  padding-right: 0 !important;
}

.paddingbottomnone {
  padding-bottom: 0 !important;
}

.paddingleftnone {
  padding-left: 0 !important;
}

.marginfull {
  margin: 20px !important;
}

.marginhorizontalfull {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.marginverticalfull {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margintopfull, .card {
  margin-top: 20px !important;
}

.marginrightfull {
  margin-right: 20px !important;
}

.marginbottomfull {
  margin-bottom: 20px !important;
}

.marginleftfull {
  margin-left: 20px !important;
}

.paddingfull {
  padding: 20px !important;
}

.paddinghorizontalfull {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingverticalfull {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.paddingtopfull {
  padding-top: 20px !important;
}

.paddingrightfull {
  padding-right: 20px !important;
}

.paddingbottomfull {
  padding-bottom: 20px !important;
}

.paddingleftfull {
  padding-left: 20px !important;
}

.margindouble {
  margin: 40px !important;
}

.marginhorizontaldouble {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.marginverticaldouble {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margintopdouble {
  margin-top: 40px !important;
}

.marginrightdouble {
  margin-right: 40px !important;
}

.marginbottomdouble {
  margin-bottom: 40px !important;
}

.marginleftdouble {
  margin-left: 40px !important;
}

.paddingdouble {
  padding: 40px !important;
}

.paddinghorizontaldouble {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.paddingverticaldouble {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.paddingtopdouble {
  padding-top: 40px !important;
}

.paddingrightdouble {
  padding-right: 40px !important;
}

.paddingbottomdouble {
  padding-bottom: 40px !important;
}

.paddingleftdouble {
  padding-left: 40px !important;
}

/* ==================== */
/* ======= CARD ======= */
/* ==================== */
.card {
  width: 100%;
  height: 15vh;
}

@media (min-width: 960px) {
  .card {
    height: 30vh;
  }
}

html {
  font-weight: 300;
  line-height: 1.618;
  font-size: 13.33333px;
}

@media (min-width: 750px) {
  html {
    font-size: 14.33333px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 15.33333px;
  }
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: calc(100% - 20px - 60px);
  margin: 0 auto;
}

@media (min-width: 750px) {
  .gridrow {
    width: calc(90% - 20px);
  }
}

@media (min-width: 960px) {
  .gridrow {
    width: 920px;
  }
}

@media (min-width: 1400px) {
  .gridrow {
    width: 1340px;
  }
}

.gridrowfull,
.gridrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gridrowfull .col,
.gridrow .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .col-1,
.gridrow .col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16.66667%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-1,
.gridrow .offset-1 {
  margin-left: 16.66667%;
}

.gridrowfull .order-1,
.gridrow .order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gridrowfull .col-2,
.gridrow .col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-2,
.gridrow .offset-2 {
  margin-left: 33.33333%;
}

.gridrowfull .order-2,
.gridrow .order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gridrowfull .col-3,
.gridrow .col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-3,
.gridrow .offset-3 {
  margin-left: 50%;
}

.gridrowfull .order-3,
.gridrow .order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.gridrowfull .col-4,
.gridrow .col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 66.66667%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-4,
.gridrow .offset-4 {
  margin-left: 66.66667%;
}

.gridrowfull .order-4,
.gridrow .order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.gridrowfull .col-5,
.gridrow .col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 83.33333%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-5,
.gridrow .offset-5 {
  margin-left: 83.33333%;
}

.gridrowfull .order-5,
.gridrow .order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.gridrowfull .col-6,
.gridrow .col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-6,
.gridrow .offset-6 {
  margin-left: 100%;
}

.gridrowfull .order-6,
.gridrow .order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

@media (min-width: 750px) {
  .gridrowfull .col-t,
  .gridrow .col-t {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t,
  .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1,
  .gridrow .col-t-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-1,
  .gridrow .offset-t-1 {
    margin-left: 16.66667%;
  }
  .gridrowfull .order-t-1,
  .gridrow .order-t-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gridrowfull .col-t-2,
  .gridrow .col-t-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-2,
  .gridrow .offset-t-2 {
    margin-left: 33.33333%;
  }
  .gridrowfull .order-t-2,
  .gridrow .order-t-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridrowfull .col-t-3,
  .gridrow .col-t-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-3,
  .gridrow .offset-t-3 {
    margin-left: 50%;
  }
  .gridrowfull .order-t-3,
  .gridrow .order-t-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridrowfull .col-t-4,
  .gridrow .col-t-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-4,
  .gridrow .offset-t-4 {
    margin-left: 66.66667%;
  }
  .gridrowfull .order-t-4,
  .gridrow .order-t-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .gridrowfull .col-t-5,
  .gridrow .col-t-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-5,
  .gridrow .offset-t-5 {
    margin-left: 83.33333%;
  }
  .gridrowfull .order-t-5,
  .gridrow .order-t-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .gridrowfull .col-t-6,
  .gridrow .col-t-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-6,
  .gridrow .offset-t-6 {
    margin-left: 100%;
  }
  .gridrowfull .order-t-6,
  .gridrow .order-t-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (min-width: 960px) {
  .gridrowfull .col-d,
  .gridrow .col-d {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d,
  .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1,
  .gridrow .col-d-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 8.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-1,
  .gridrow .offset-d-1 {
    margin-left: 8.33333%;
  }
  .gridrowfull .order-d-1,
  .gridrow .order-d-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gridrowfull .col-d-2,
  .gridrow .col-d-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-2,
  .gridrow .offset-d-2 {
    margin-left: 16.66667%;
  }
  .gridrowfull .order-d-2,
  .gridrow .order-d-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridrowfull .col-d-3,
  .gridrow .col-d-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-3,
  .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .order-d-3,
  .gridrow .order-d-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridrowfull .col-d-4,
  .gridrow .col-d-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-4,
  .gridrow .offset-d-4 {
    margin-left: 33.33333%;
  }
  .gridrowfull .order-d-4,
  .gridrow .order-d-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .gridrowfull .col-d-5,
  .gridrow .col-d-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-5,
  .gridrow .offset-d-5 {
    margin-left: 41.66667%;
  }
  .gridrowfull .order-d-5,
  .gridrow .order-d-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .gridrowfull .col-d-6,
  .gridrow .col-d-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-6,
  .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .order-d-6,
  .gridrow .order-d-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .gridrowfull .col-d-7,
  .gridrow .col-d-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-7,
  .gridrow .offset-d-7 {
    margin-left: 58.33333%;
  }
  .gridrowfull .order-d-7,
  .gridrow .order-d-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .gridrowfull .col-d-8,
  .gridrow .col-d-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-8,
  .gridrow .offset-d-8 {
    margin-left: 66.66667%;
  }
  .gridrowfull .order-d-8,
  .gridrow .order-d-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .gridrowfull .col-d-9,
  .gridrow .col-d-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-9,
  .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .order-d-9,
  .gridrow .order-d-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .gridrowfull .col-d-10,
  .gridrow .col-d-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-10,
  .gridrow .offset-d-10 {
    margin-left: 83.33333%;
  }
  .gridrowfull .order-d-10,
  .gridrow .order-d-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .gridrowfull .col-d-11,
  .gridrow .col-d-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 91.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-11,
  .gridrow .offset-d-11 {
    margin-left: 91.66667%;
  }
  .gridrowfull .order-d-11,
  .gridrow .order-d-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .gridrowfull .col-d-12,
  .gridrow .col-d-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-12,
  .gridrow .offset-d-12 {
    margin-left: 100%;
  }
  .gridrowfull .order-d-12,
  .gridrow .order-d-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.gridrowfull.nogutter .col,
.gridrowfull.nogutter .col-t,
.gridrowfull.nogutter .col-d,
.gridrow.nogutter .col,
.gridrow.nogutter .col-t,
.gridrow.nogutter .col-d {
  padding: 0;
}

.gridrowfull.nogutter .col-1,
.gridrowfull.nogutter .col-t-1,
.gridrowfull.nogutter .col-d-1,
.gridrow.nogutter .col-1,
.gridrow.nogutter .col-t-1,
.gridrow.nogutter .col-d-1 {
  padding: 0;
}

.gridrowfull.nogutter .col-2,
.gridrowfull.nogutter .col-t-2,
.gridrowfull.nogutter .col-d-2,
.gridrow.nogutter .col-2,
.gridrow.nogutter .col-t-2,
.gridrow.nogutter .col-d-2 {
  padding: 0;
}

.gridrowfull.nogutter .col-3,
.gridrowfull.nogutter .col-t-3,
.gridrowfull.nogutter .col-d-3,
.gridrow.nogutter .col-3,
.gridrow.nogutter .col-t-3,
.gridrow.nogutter .col-d-3 {
  padding: 0;
}

.gridrowfull.nogutter .col-4,
.gridrowfull.nogutter .col-t-4,
.gridrowfull.nogutter .col-d-4,
.gridrow.nogutter .col-4,
.gridrow.nogutter .col-t-4,
.gridrow.nogutter .col-d-4 {
  padding: 0;
}

.gridrowfull.nogutter .col-5,
.gridrowfull.nogutter .col-t-5,
.gridrowfull.nogutter .col-d-5,
.gridrow.nogutter .col-5,
.gridrow.nogutter .col-t-5,
.gridrow.nogutter .col-d-5 {
  padding: 0;
}

.gridrowfull.nogutter .col-6,
.gridrowfull.nogutter .col-t-6,
.gridrowfull.nogutter .col-d-6,
.gridrow.nogutter .col-6,
.gridrow.nogutter .col-t-6,
.gridrow.nogutter .col-d-6 {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navColorFill {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbarTop {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  border-bottom: solid #f1f1f1 0.5px;
}

.navbarTop div:first-child {
  margin: 20px;
}

.iconOrganizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.iconOrganizer div:first-child {
  margin: 10px 7px 0 0;
}

.iconOrganizer div:last-child {
  margin: 10px 0 0 7px;
}

.profileTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
}

.profileTitle h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
}

.profileTitle span {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
}

.profileTitle label {
  font-size: 12px;
}

.profileTitleRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
  padding-top: 83.5px;
}

.profileTitleRegister h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
}

.profileTitleRegister span {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
}

.profileTitleRegister label {
  font-size: 12px;
}

.profileTitleLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  padding-top: 238px;
}

.profileTitleLogin h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
}

.profileTitleLogin span {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
}

.profileTitleLogin label {
  font-size: 12px;
}

.topSection {
  margin-top: 24px;
}

.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20px;
}

.sectionContainer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 20px 20px 0;
  font-size: 16px;
  font-weight: 600;
}

.sectionContainer .avatar {
  margin-right: 10%;
}

section.bottomSection {
  margin-top: 210px;
}

.blueLineContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blueLine {
  width: 279px;
  background-color: #018eaa;
  opacity: 10%;
  height: 1px;
}

.formContainer {
  margin-top: 24px;
}

.formContainer #fname {
  width: 100%;
  height: 40px;
  background-color: #d9eef2;
  border-radius: 8px;
  border: none;
  margin: 10px 0 20px 0;
  padding: 12px 20px;
}

.formContainer #fname span {
  color: red;
}

.dataButton {
  color: #fff;
  background-color: #018eaa;
  height: 42px;
  border-radius: 8px;
  border: none;
  margin: 20px 20px;
}

.helpBoxesContainer {
  margin-top: 40px;
}

.helpBoxesContainer .helpBoxes {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  margin: 0 25px 24px 25px;
}

.helpBoxesContainer .helpBoxes .helpIcon {
  margin: 0 20px;
}

.helpBoxesContainer .helpBoxes .helpText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.helpBoxesContainer .helpBoxes .helpText span {
  font-size: 18px;
  font-weight: 600;
}

.helpBoxesContainer .helpBoxes .helpText p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #018eaa;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}

.registerButton {
  color: #fff;
  background-color: #018eaa;
  height: 42px;
  border-radius: 8px;
  border: none;
  margin: 20px 20px 7px 20px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27px;
}

.login span {
  font-size: 12px;
}

.login span a {
  text-decoration: none;
}

.login span span {
  border-bottom: solid 1px;
}

.forgotPassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.forgotPassword span {
  font-size: 12px;
  margin-top: -12px;
}

.alternativeLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-color: #fff;
  height: 40px;
  border: #c6c6c6 solid 1px;
  border-radius: 20px;
  margin: 16px 20px 0px 20px;
}

.alternativeLogin img {
  padding-right: 20px;
}

.alternativeLogin .facebook {
  color: #395185;
  font-size: 14px;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  margin-right: -10px;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  -webkit-transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
          transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  -webkit-transform: translate3d(16px, 2px, 0);
          transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #018eaa;
}

.form-switch input:checked + i::before {
  -webkit-transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
          transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  -webkit-transform: translate3d(22px, 2px, 0);
          transform: translate3d(22px, 2px, 0);
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  -webkit-transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
          transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  -webkit-transform: translate3d(16px, 2px, 0);
          transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #018eaa;
}

.form-switch input:checked + i::before {
  -webkit-transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
          transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  -webkit-transform: translate3d(22px, 2px, 0);
          transform: translate3d(22px, 2px, 0);
}

.eightmin {
  font-size: 12px;
  color: #8c8c8c;
}

.mediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mediaContainer a {
  text-decoration: none;
  color: #121212;
}

.mediaContainer .babyImage {
  margin-right: 5px;
}

.mediaContainer .mamonaImage {
  margin-right: 5px;
}

.mediaContainer .campanhaBebe p {
  font-size: 12.5px;
  margin-top: 6px;
  font-weight: 500;
  line-height: 16px;
}

.mediaContainer .campanhaBebe span {
  font-size: 12.5px;
  font-weight: 600;
  line-height: 16px;
}

.mediaContainer .campanhaBebe h4 {
  color: #018eaa;
  font-weight: 500;
}

.mediaContainer .campanhaMamona p {
  font-size: 12.5px;
  margin-top: 6px;
  font-weight: 500;
  line-height: 16px;
}

.mediaContainer .campanhaMamona span {
  font-size: 12.5px;
  font-weight: 600;
  line-height: 16px;
}

.mediaContainer .campanhaMamona h4 {
  color: #018eaa;
  font-weight: 500;
}

.youtubeSection {
  margin-left: 52px;
  margin-top: 12px;
  background-color: #d9eef2;
  width: 98px;
  border-radius: 20px;
  height: 24px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtubeSection span {
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
  color: #121212;
}

.instagramSection {
  margin-left: 41px;
  margin-top: 12px;
  background-color: #d9eef2;
  width: 108px;
  border-radius: 20px;
  height: 24px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagramSection span {
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
  color: #121212;
}
/*# sourceMappingURL=style_profile.css.map */