@import "normalize";
@import 'reset';
@import "variables";
@import "utils";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");


* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

//top bar
.navColorFill {
  background-color: $white;
  position: sticky;
  top: 0;
}

.navbarTop {
  height: 4.5rem;
  display: flex;
  margin-bottom: 2em;
  border-bottom: solid #f1f1f1 0.5px;
  & div:first-child {
      margin: 20px;
  }
}
.iconOrganizer {
  display: flex;
  justify-content: end;
  & div:first-child {
      margin: 10px 7px 0 0;
  }
  & div:last-child {
      margin: 10px 0 0 7px;
  }
}
// end

// Menu title

.profileTitle {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }
    & span {
        font-size: 16px;
        color: $secondary;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}

.profileTitleRegister {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    padding-top: 83.5px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }
    & span {
        font-size: 16px;
        color: $secondary;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}

.profileTitleLogin {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding-top: 238px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }
    & span {
        font-size: 16px;
        color: $secondary;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}



// Menu sections 

.topSection {
    margin-top: 24px;
}

.sectionContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 20px;
    & span {
        display: flex;
        flex: 1;
        padding: 20px 20px 20px 0;
        font-size: 16px;
        font-weight: 600;

    }
    & .avatar {
        margin-right: 10%;
    }
}

section.bottomSection {
    margin-top: 210px;
}

.blueLineContainer {
    display: flex;
    justify-content: center;
}
.blueLine {
    width: 279px;
    background-color: $primary;
    opacity: 10%;
    height: 1px;
}

// Personal Data Form 

.formContainer {
    margin-top: 24px;
    & #fname {
        width: 100%;
        height: 40px;
        background-color: $secondaryBlue;
        border-radius: 8px;
        border: none;
        margin: 10px 0 20px 0;
        padding: 12px 20px;
        & span {
            color: red;
        }
    }
}

.dataButton {
    color: $white;
    background-color: $primary;
    height: 42px;
    border-radius: 8px;
    border: none;
    margin: 20px 20px;
}

// Help Page

.helpBoxesContainer {
    margin-top: 40px;
    & .helpBoxes {
    height: 80px;
    display: flex;
    align-items: center; 
    box-shadow: 0px 4px 15px rgba(0,0,0,0.04);
    border-radius: 14px;
    margin: 0 25px 24px 25px;
    & .helpIcon {
        margin: 0 20px;
    }
    & .helpText {
        display: flex;
        flex: 1;
        flex-direction: column;
        & span {
            font-size: 18px;
            font-weight: 600;
        }
        & p {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: $primary;
            }
        }
    }
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

// Register screen

.registerButton {
    color: $white;
    background-color: $primary;
    height: 42px;
    border-radius: 8px;
    border: none;
    margin: 20px 20px 7px 20px;
}

.login {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    & span {
        font-size: 12px;
        & a {
            text-decoration: none;
        }
        & span {
            border-bottom: solid 1px;
        }
    }
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;
    & span {
        font-size: 12px;
        margin-top: -12px;
    }
}

.alternativeLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: $white;
    height: 40px;
    border: $gray solid 1px;
    border-radius: 20px;
    margin: 16px 20px 0px 20px;
    & img {
        padding-right: 20px;
    }
    & .facebook {
        color: #395185;
        font-size: 14px;
    }
}

// toggle

.form-switch {
    display: inline-block;
    cursor: pointer;
    margin-right: -10px;
    -webkit-tap-highlight-color: transparent;
  }
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  .form-switch input { display: none; }
  .form-switch input:checked + i { background-color: $primary; }
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  .form-switch input { display: none; }
  .form-switch input:checked + i { background-color: $primary; }
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

  // Home - Para si

.eightmin {
    font-size: 12px;
    color: $secondary;
}

.mediaContainer {
    display: flex;
    position: relative;
    & a {
        text-decoration: none;
        color: $black;
    }
    & .babyImage {
        margin-right: 5px;
    }
    & .mamonaImage {
        margin-right: 5px;
    }
    & .campanhaBebe {
        & p {
            font-size: 12.5px;
            margin-top: 6px;
            font-weight: 500;
            line-height: 16px;
        }
        & span {
            font-size: 12.5px;
            font-weight: 600;
            line-height: 16px;
        }
        & h4 {
            color: $primary;
            font-weight: 500;
        }
    }

    & .campanhaMamona {
        & p {
            font-size: 12.5px;
            margin-top: 6px;
            font-weight: 500;
            line-height: 16px;
        }
        & span {
            font-size: 12.5px;
            font-weight: 600;
            line-height: 16px;
        }
        & h4 {
            color: $primary;
            font-weight: 500;
        }
    }
}

.youtubeSection {
    margin-left: 52px;
    margin-top: 12px;
    background-color: $secondaryBlue;
    width: 98px;
    border-radius: 20px;
    height: 24px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        font-size: 12px;
        font-weight: 500;
        margin: 0 5px;
        color: $black;
    }
}

.instagramSection {
    margin-left: 41px;
    margin-top: 12px;
    background-color: $secondaryBlue;
    width: 108px;
    border-radius: 20px;
    height: 24px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        font-size: 12px;
        font-weight: 500;
        margin: 0 5px;
        color: $black;
    }
}


